#hiorgoauth_settings input,
#hiorgoauth_settings select {
  width: 285px;
}
#hiorgoauth_settings .provider-settings {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 20px;
}
#hiorgoauth_settings .group-mapping-tpl,
#openid_provider_tpl,
#custom_oidc_provider_tpl,
#custom_oauth2_provider_tpl {
  display: none !important;
}
input[readonly] {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.4);
}
.section h2.provider-title {
  margin-bottom: 10px;
}
.provider-title img {
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
}
#hiorgoauth_settings .group-mapping-add {
  width: 100%;
}
#hiorgoauth_settings .foreign-group,
#hiorgoauth_settings .local-group {
  width: 133px;
}
