a[href*="/hiorg_oauth/oauth/"]::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  background-image: url(../img/hiorg.svg);
}

a[href*="/hiorg_oauth/oauth/"]::after {
  content: "";
  width: 10px;
  display: inline-block;
}

a[href*="/hiorg_oauth/oauth/hiorg"]::before {}

.userhiorg-connect li {
  margin-bottom: 10px;
}

#alternative-logins a.button[href*="/hiorg_oauth/oauth/"] {
  border: 3;
  color: #E60005;
}

/* Button colors */

#alternative-logins a.button[href*="/hiorg_oauth/oauth/"] {
  background-color: white;
  color: #E60005;
}