#alternative-logins a.hiorg_oauth.button-vue::before {
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  background-image: url(../img/hiorg.svg);
}

#alternative-logins a.hiorg_oauth.button-vue::after {
  content: '';
  width: 10px;
  display: inline-block;
}

.userhiorg-connect li {
  margin-bottom: 10px;
}

#alternative-logins a.hiorg_oauth.button-vue {
  background-color: white;
  color: #e60005;
}

/* Button colors */

@media (prefers-color-scheme: light) {
  #alternative-logins a.hiorg_oauth.button-vue {
    border: 3px solid #e60005;
  }
}